.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  body {
      margin: 0;
      padding: 0 ;
      font-family: 'Josefin Sans', sans-serif;
      background-color: #eee;
  }

  body a {
    color: #ffffff;
    text-decoration: none;
  }

  .nav-menu {
      position: absolute;
      top: 105%;
      left: 30%;
  }

  .nav-menu-bottom {
      position: absolute;
      top: 125%;
      left: 10%;
  }

  .flip-card {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 400px;
      width: 500px;
      transform: translate(-50%, -50%);
      transform-style: preserve-3d;
      perspective: 600px;
      transition: .5s;
  }

  .flip-card:hover .flip-card-front {
      transform: rotateX(-180deg);
  }

  .flip-card:hover .flip-card-back {
      transform: rotateX(0deg);
  }

  .flip-card-front {
    height: 100%;
    width: 100%;
    background: #225dcf;;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
  }

  .flip-card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #333398;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #ffffff;
  }

  .flip-card-back h2 {
    margin: 60% auto 35% auto;
    font-size: 26px;
  }
  .flip-card-back h2 span {
    font-size: 20px;
  }
  .flip-card-back a {
    height: 20px;
    width: 20px;
    padding: 5px 5px;
    border-radius: 4px;
    line-height: 20px;
  }
  .flip-card-back a:hover {
    color: #000000;
    background-color: #fff;
  }

  .p-text {
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
      color: 	#fff;
      line-height: 1.625;
      position: absolute;
      text-align: center;
      top: 13%;
      left: 5%;
      right: 5%;
  }

  .topic-text {
      color: #fff;
      font-weight: 150;
      font-size: 15px;
  }
