{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Kwizlet | Home</title>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
{% endblock %}

<style>
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% block body%}
<div class="container text-center">
    <br/>
    <br/>

        <h3 style="color: #123786;">Welcome to Kwizlet - Let's Learn Kubernetes! </h3>

        <a class="btn btn-link btn-lg btn-primary" href="https://kubernetes.io/docs/home/" role="button" target="_blank">
        <h5 style="color: white;"><b>Kubernetes Documentation</b></h5></a>
        <br>
        <br>
        <a class="btn btn-link btn-lg btn-primary" href="{% url 'flashcards:flashcards' %}" role="button">
        <h5 style="color: white;"><b>Flashcards</b></h5></a>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
        {% load static %}

        <div class="row">
            <div class="column">
              <img src="{% static 'images/node-128.png' %}" alt="node" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/etcd-128.png' %}" alt="etcd" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/sched-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/sched-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/pv-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/netpol-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/ds-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
            <div class="column">
                <img src="{% static 'images/cronjob-128.png' %}" alt="scheduler" style="Width:70%">
            </div>
          </div>


</div>
{% endblock %}
