{% extends 'base.html' %}

{% block head %}
<title>Kwizlet | Home</title>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
{% endblock %}

{% block body%}
<div class="container">

    <!--The <i> tag is a smily face :)-->
    <h3>Welcome to Kwizlet - Let's Learn Kubernetes </h3>

        <!--<a class="btn btn-link" href="https://www.ets.org/gre/" role="button" target="_blank">
        <h5><b>GRE Official Site</b></h5></a> -->
        <br>
        <a class="btn btn-link" href="{% url 'flashcards:flashcards' %}" role="button">
        <h5><b>Flashcards</b></h5></a>

</div>
{% endblock %}