{% extends 'base.html' %}

{% block head %}
<title>Kwizlet | Card Decks</title>
{% endblock %}

{% block body%}
<div class="row">
{% for t in topics %}
{% cycle 'primary' as color silent %}
    {% if forloop.counter0|divisibleby:3 %}
        </div><br><div class="row ml-5">
    {% endif %}

        <div class="col-sm-6" style="width: 45rem;">
            

            <!-- mt-4 for space between cards -->
            {% if forloop.counter0 == 2 %}
            <div class="card text-white bg-{{ color }} mr-5 text-center mt-4" style="width: 35rem;">
            {% else %}
            <div class="card text-white bg-{{ color }} mr-3 text-center mt-4" style="width: 35rem;">
            {% endif %}

            <div class="card-header" style="width: 35rem;">{{ t.description }}
            </div>
            <div class="card-body" style="width: 35rem;">
                <h5 class="card-title text-center">{{ t.topic }}</h5>

                <!--conditional statement for plural/singular use of the word card displayed on template-->
                {% if t.get_card_count != 1 %}
                    <h6 class="card-subtitle mb-2 text-white text-center" style="width: 35rem;">{{ t.get_card_count }} cards in deck</h6>
                {% else %}
                    <h6 class="card-subtitle mb-2 text-white text-center" style="width: 35rem;">{{ t.get_card_count }} card in deck</h6>
                {% endif %}

                <br/>
                <br/>
                <!--p-- class="card-text">{{ t.description }}</!--p-->
                <a href= "{% url 'flashcards:view_card_set' t.id %}" class="card-link text-white btn btn-secondary">Study</a>
                <a href= "{% url 'flashcards:edit_card_set' t.id %}" class="card-link text-white btn btn-secondary">Edit Deck</a>
                <a href= "{% url 'flashcards:create_card' t.id %}" class="card-link text-white btn btn-secondary">Add Card</a>
            </div>
            </div>
        </div>
        
    {% if forloop.counter0 == 2 %}
        <div class="column ml-5">
            <h3>Custom Card Set</h3>
            <h6>Create a custom study set</h6>
            <p>
            <a class="btn btn-primary" href="{% url 'flashcards:create_card_set' %}"  
            role="button">Create New</a>
            </p>
        </div>
    {% endif %}     
{% endfor %}
{% endblock %}

         