{% extends 'base.html' %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block css %}
  <style>
  @media screen and (max-width: 1500px) and (min-width: 600px)
  </style>
{% endblock %}

{% block head %}
<title>Kwizlet | Flashcards</title>

<head>
	{% load static %}
    {% block style %}
	<link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />
	{% endblock %}

  </head>
  <body>
<style>
</style>
<link rel="stylesheet" href="{% static 'css/view_cards.css' %}">

</head>
{% endblock %}

{% block body%}
<label style="max-width: 500px">
	<input type="checkbox" />
	{% if card_object %}
	<div class="flip-card">
		<!--Front of Card-->
		<div class="flip-card-front">
		<!-- <div class="card-header topic-text">{{ card_set_object }}
		</div> -->
		<p class="p-text card-title">{{ card_object.question }}</p>
		</div>

		<!--Back of Card-->
		<div class="flip-card-back">
		<!-- <p class="p-text card-text text-center">{{ card_object.answer|linebreaksbr }}</p> -->
		<p class="p-text center">
  {% for sentence in card_object.answer|split_sentences %}
    {% if forloop.first %}
      <span class="highlight">{{ sentence }}</span>
    {% else %}
      {{ sentence }}
    {% endif %}
    <br> <!-- Add a line break between sentences -->
  {% endfor %}
</p>
		</div>

	<br>
	{% else %}
	<p><b>No cards are in the {{card_set_object | upper }} card set.</b></p>
	{% endif %}
	</div>
	</label>
	<div>
</div>


<p>Current Card Number: {{ card_object.id }} of {{ get_card_count }} cards</p>

	<nav aria-label="...">
		<ul class="nav-menu pagination pagination-lg">

			{% if card_object %}
			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:view_card_set' card_set_object.id %}?card={{ card_object.get_previous_card.id }}">
			<i class="fa-solid fa-circle-arrow-left" style="color: #0b51cb;"></i></a></li>

			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:view_card_set' card_set_object.id %}?card={{ card_set_object.get_random_card.id }}">
			<i class="fa-solid fa-shuffle" style="color: #0b51cb;"></i></a></li>

			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:view_card_set' card_set_object.id %}?card={{ card_object.get_next_card.id }}">
			<i class="fa-solid fa-circle-arrow-right" style="color: #0b51cb;"></i></a></li>
			{% endif %}
		</ul>
		</nav>

		<nav aria-label="...">
			<ul class="nav-menu-bottom pagination pagination-lg" style="max-width: 450px">
			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:edit_card_set' card_set_object.id %}"
			role="button">Edit Deck</a>

			{% if card_object %}
			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:edit_card' card_object.id %}"
			role="button">Edit Card</a>
			{% endif %}

			<li class="page-item"><a class="page-link"
			href="{% url 'flashcards:create_card' card_set_object.id %}"
			role="button">Add Card</a>
			</ul>
		</nav>

</div>

{% endblock %}
